/* |-| ============================== FONTS =================================== */
/*      font-family: 'Indie Flower', cursive;
        font-family: 'Raleway', sans-serif;
        font-family: 'Stick', sans-serif; */

/* |-| ====================== COLOR PALETTE =================================== */
:root {
  --maincolor: #CBEDCA; /* Tea Green */
  --emphasiscolor: #ECA72C; /* Marigold */
  --emphasisBackground: rgba(235, 166, 45, 0.65); /* Marigold, opacity 0.65 */
  --oppositecolor: #25095B; /* Dark Purple */
}

/* ============================================================================ */
/* ================================ GENERAL =================================== */
html {box-sizing: border-box; margin: 0; padding: 0; font-size: 16px; line-height: 1.5;}
*, *:before, *after {box-sizing: inherit; padding: 0; margin: 0;}
body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--maincolor);
}
p, li {
  font-family: 'Raleway', sans-serif;
}
h2, h3 {font-family: 'Stick', sans-serif;}
nav, main section:first-child, main section > h3 {
  max-width: 800px;
  margin: 0 auto;
}

/* ============================================================================ */
/* ================================ HEADER ==================================== */
header {
  background-image: url(images/DSC00227_1024.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: var(--maincolor);
  font-size: 1.8rem;
  padding: 1rem 0;
  margin: 0;
}

/* ============================================================================ */
/* ================================= MAIN ===================================== */
main {
  color: var(--oppositecolor);
}
main section {
  padding: 0 2%;
}
figure {margin: 0;}
figcaption {
  font-size: 0.9em;
  color: brown;
}
main img {width: 100%}

/* ============================================================================ */
/* ================================== NAV ===================================== */
nav section li {
  list-style-type: none;
}
nav section.menu ul{
  text-align: center;
  padding: 0;
}
nav section.menu ul li {
  display: inline-block;
}
nav section.menu ul li button {
  width: 5rem;
  padding: 0.5rem 0;
  border: 2px ridge var(--oppositecolor);
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--emphasisBackground);
  /* opacity: 0.5; */
  color: var(--oppositecolor);
}
nav section.nav-grid ul{
  margin: 0;
  padding:0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  line-height: 0.8;
  border: dashed red 1px;
}
nav section.nav-grid img {
  width: 100%;
  max-width: 100px;
  height: 66px;
  object-fit: center;
}

/* [MEDIA QUERIES]========================================= */
@media screen and (min-width: 31em) {
  nav section.nav-grid ul {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 44em) {
  nav section.nav-grid ul {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (max-width: 20em) {
  nav section.nav-grid img {height: 3rem; }
}
/* ============================================================================ */
/* ================================ FOOTER ==================================== */




/* [MEDIA QUERIES]============ SCREEN SIZE > 600px ================== */
/* ============================================================ */
