

html {box-sizing: border-box; margin: 0; padding: 0; font-size: 16px; line-height: 1.5;}
*, *:before, *after {box-sizing: inherit;}
img {max-width: 100%}

header {
  background: url(images/DSC00227_1024.jpg) no-repeat center orange;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

main {
  margin: 5px;
}

figcaption {
  font-size: 12px;
  color: brown;
}


/* -----------------------------------------------------------
h1 title style
------------------------------------------------------------ */
h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #208D0F;
  font-size: 35px;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 55px;
  }
}

.images {
  border-color: red;
  margin: 0 auto;
}


/* [ ]================== SCREEN SIZE > 600px ================== */
/* ============================================================ */
