
/* ============================================================================ */
/* ================================ GENERAL =================================== */
html {box-sizing: border-box; margin: 0; padding: 0; font-size: 16px; line-height: 1.5;}
*, *:before, *after {box-sizing: inherit;}
body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}


/* ============================================================================ */
/* ================================ HEADER ==================================== */
header {
  background: url(images/DSC00227_1024.jpg) no-repeat center orange;
  /* position: fixed; */
  top: 0;
  width: 100%;
}
h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #208D0F;
  font-size: 1.8rem;
  padding: 1rem 0;
  margin: 0;
}

/* ============================================================================ */
/* ================================= MAIN ===================================== */

figure {margin: 0;}
figcaption {
  font-size: 0.9em;
  color: brown;
}
main img {width: 100%}

/* ============================================================================ */
/* ================================== NAV ===================================== */

nav section.nav-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
nav img {width: 100%;}

/* [MEDIA QUERIES]========================================= */
@media screen and (min-width: 31em) {
  nav section.nav-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 50em) {
  nav section.nav-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}



/* ============================================================================ */
/* ================================ FOOTER ==================================== */




/* [MEDIA QUERIES]============ SCREEN SIZE > 600px ================== */
/* ============================================================ */
